<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="CloudCourse160" connectionString="Data Source=10.1.55.120;Initial Catalog=CloudCourse;Persist Security Info=True;User ID=myuser;Password=xuedadev1234%" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RabbitMQHostName" value="localhost"></add>
    <add key="RabbitMQUserName" value="sync"/>
    <add key="RabbitMQPassword" value="sync"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WCF.IAssignCourseWCFService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://course.xueda.com/wcf/AssignCourseWCFService.svc/wcf"
          binding="wsHttpBinding" bindingConfiguration="WCF.IAssignCourseWCFService"
          contract="AssignCourseServiceReference.IAssignCourseService" name="WCF.IAssignCourseWCFService" />
    </client>
  </system.serviceModel>
</configuration>
